################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/~$$БД.~vsdx
/БД.vsdx
